


@font-face {
    font-family: "Poppins";
    src: url("Poppins-Regular.eot");
    src: url("Poppins-Regular.eot?#iefix") format('embedded-opentype'),
         url("Poppins-Regular.woff2") format('woff2'),
         url("Poppins-Regular.woff") format('woff'),
         url("Poppins-Regular.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("Poppins-Bold.ttf");
    src: url("Poppins-Bold.eot?#iefix") format('embedded-opentype'),
         url("Poppins-Bold.woff2") format('woff2'),
         url("Poppins-Bold.woff") format('woff'),
         url("Poppins-Bold.ttf") format('truetype');
    font-weight: 600;
    font-style: bold;
}
*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
font-style: bold;
}
body{
    background: #071d2e;
    min-height: 1500px;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%; 
    height: 100px;
    background: linear-gradient(to top, #071d2e,transparent);
    z-index: 10000;
}
section:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: #071d2e;
    z-index: 10000;
    mix-blend-mode: color;
}
section img{
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text{
    position: relative;
    color: white;
    font-size: 5em;
    z-index: 1;
}
#road{

    z-index: 2;
}
.k{
    margin: 150px 150px 150px 150px ;
    padding: 150px  ;
    box-sizing: border-box;
    text-align: center;


    color: white;
    font-size: 1.5em;
    
    border: 4px solid #071c2e;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.034),
                    inset 0 -15px 15px rgba(255, 255, 255, 0.007),
                    0 15px 15px rgba(0, 0, 0, 0.034),
                   inset 0 -15px 15px rgba(0, 0, 0, 0.041)
}
.eg{
    text-align: center;
    color: white;
    font-size: 1.5em;
    height: auto;

    margin: 150px 150px 150px 150px ;
    padding: 150px  ;
    box-sizing: border-box;



    
    border: 4px solid #071c2e;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.034),
                    inset 0 -15px 15px rgba(255, 255, 255, 0.007),
                    0 15px 15px rgba(0, 0, 0, 0.034),
                   inset 0 -15px 15px rgba(0, 0, 0, 0.041)
    
}
.parallax1 {        
    background-image: url('image1.jpg');
    min-height: 1200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
  }
  .parallax2 {        
    background-image: url('image2.jpg');
    min-height: 1200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
  }
  .parallax3 {        
    background-image: url('image3.jpg');
    min-height: 1200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
  }
  .parallax4 {        
    background-image: url('image4.jpg');
    min-height: 1200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
  }
  .parallax5 {        
    background-image: url('image7.jpg');
    min-height: 1200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
  }
  .parallax6 {        
    background-image: url('image6.jpg');
    min-height: 1200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
  }
  .parallax7 {        
    background-image: url('image5.jpg');
    min-height: 1200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
  }
  .parallax8 {        
    background-image: url('image5.jpg');
    min-height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
  }

  .swiper-container {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 600px;
  }

  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    filter:blur(4px);
    background: #d1ebff;
    border-radius: 10px;
  }
  .swiper-slide-active{
    filter:blur(0px);
    background: #fff;
  }


  
  .testimonialBox{
      position: relative;
      width: fit-content;
      padding: 40px;
      padding-top: 90px;
      color: #999;
  }
  .qoute{
    position: absolute;
    right: 20px;
    top:20px;
    opacity: 0.5;
}

  .details{
      display: flex;
      align-items: center;
      margin-top: 20px;
  }
  
   h3{
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #125388;
      line-height: 1.2em;
  }
  h3 span{
    font-size: 14px;
    
    color: rgb(49, 49, 49);
    line-height: 1.1em;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right{
    background-image: none;
}
footer{
    color: white;
    font-size: 1.5em;
    height: auto;
    text-align: center;
}